aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.5
colorama==0.4.4
cryptography==3.4.8
defusedxml==0.7.1
grab==0.6.41
idna==3.2
importlib-metadata==4.8.1
lxml==4.6.3
multidict==5.1.0
pycparser==2.20
pycurl==7.43.0.5
pyee==8.2.2
pyOpenSSL==20.0.1
pyppeteer==0.2.6
pyppeteer-stealth==2.7.3
pytils==0.3
requests==2.26.0
selection==0.0.14
six==1.16.0
soupsieve==2.2.1
tqdm==4.62.2
typing-extensions==3.10.0.2
urllib3==1.26.6
user-agent==0.1.9
weblib==0.1.30
websockets==9.1
yarl==1.6.3
zipp==3.5.0
